<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/global.css">
  </head>
  <body>

  <nav>

    {% set unidadDoc = null %}

    {% for c in collections.unidad %}
      {% if c.data.codigo == unidad %}
        {% set unidadDoc = c %}
      {% endif %}
    {% endfor %}

    {% if unidadDoc %}
    <a href="{{ unidadDoc.url }}">{{ unidadDoc.data.title }}</a> &rarr;
    {% endif %}

    {{ title }} ({{numero}}) 
    </nav>


    <article>
      <main>
        {{ content | safe }}
      </main>
    </article>

  </body>
