<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/global.css">
  </head>
  <body>

  <nav>

    {% set cursoDoc = null %}

    {% for c in collections.curso %}
      {% if c.data.codigo == curso %}
        {% set cursoDoc = c %}
      {% endif %}
    {% endfor %}

    {% if cursoDoc %}
    <a href="{{ cursoDoc.url }}">{{ cursoDoc.data.title }}</a><br>
    {% endif %}

    &#8627; {{ title }}

  </nav>

  <h1>{{title}}</h1>

    <article>
      <main>
        {{ content | safe }}
      </main>
    </article>

    <ol class="index">
    {%- for capitulo in collections.capitulo | sort(attribute="data.order") -%}
      {%- if capitulo.data.unidad == codigo -%}
      <li><a href="{{ capitulo.url }}">{{ capitulo.data.title }}</a></li>
      {%- endif -%}
    {%- endfor -%}
  </ol>

  </body>
