// colors
$white: #fff;
$blue: #266bd2;
$violet: #6c71c4;
$orange: #BC4A3C;
$green: #859900;
$red: #f30;

//fonts
@font-face {
  font-family: sansFont;
  src: url(../fonts/sans-regular.woff2);
  font-weight: regular;
}
@font-face {
  font-family: sansFont;
  src: url(../fonts/sans-bold.woff2);
  font-weight: bold;

}$sans: sansFont, Helvetica, Arial, monospace;
$serif: "Times New Roman", Times, Serif;

// spaces
$wide: 1620px;

// css

html {
  min-height: 100vh;
  scrollbar-color: $blue;
  scrollbar-width: 16px;
}

body {
  background: $white;
  font-family: $sans;
  color: #000;
  font-size: 5vmin;
  font-weight: 500;
  line-height: 1.2;
  text-rendering: optimizeSpeed;
  margin: 4rem;
  padding: 0;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-font-smoothing: antialiased;

  @media (prefers-color-scheme: dark) {
    background: black;
    color: white;
  }
}

nav {

  margin-bottom: 10%;
  font-size: 3vmin;

  @media (prefers-color-scheme: dark) {
    color: #999; 
  }

}

h1, h2, h3 {

  @media (prefers-color-scheme: dark) {
    color: #eed;
  }

}
h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16vmin;
  line-height: 1;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

h2 {
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 16px;

  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 4px;

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
  
}

p {
  margin: 4% 0;
}

details {
  margin: 2% 0;
  font-size: 4vmin;
  cursor: pointer;

  & summary::after {
    margin-left: 12px;
    font-size: 2vmin;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .75;
  }

  &.question summary, 
  &.question summary::marker, 
  &.question summary::after  { 
    color: tomato;
    vertical-align: middle;
  }

  &.think summary, 
  &.think summary::marker, 
  &.think summary::after  { 
    color: tomato;
    vertical-align: middle;
  }

  &.media summary, 
  &.media summary::marker, 
  &.media summary::after  { 
    color: olivedrab;
    vertical-align: middle;
  }

  &.question summary::after { 
    content: "(Busca)";
    font-size: 2vmin;
  }
  
  &.think summary::after { 
    content: "(Piensa)";
    font-size: 2vmin;
  }

  &.media summary::after { 
    content: "(Mira)";
    font-size: 2vmin;
  }
}

article {
  hyphens: auto;
  max-width: $wide;

}

ul, ol, p {
  margin: 0 0 3%;
}

blockquote {
  margin: 32px 0;
  padding: 0 32px;

  & p {
    margin: 0;
    max-width: $wide;
    font-weight: bold;
  }

}

hr {
  height: 10vw;
  border: none;
  background: transparent;
}

picture {
  display: inline-block;
  margin: 0 0 32px;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

img {
  max-width: 100%;
}

.right {
  text-align: right;
}

small {
  font-family: $serif;
  font-size: 3vmin;
  font-weight: normal;
  font-style: italic;
}
