// colors
$white: #fffffa;
$black: #333;
$blue: #266bd2;
$violet: #6c71c4;
$orange: #BC4A3C;
$green: #859900;
$red: #f30;

//fonts
@font-face {
  font-family: sansFont;
  src: url(../fonts/sans-regular.woff2);
  font-weight: regular;
}
@font-face {
  font-family: sansFont;
  src: url(../fonts/sans-bold.woff2);
  font-weight: bold;
}

$sans: sansFont, Helvetica, Arial, monospace;
$serif: "Times New Roman", Times, Serif;

// spaces
$wide: 1620px;

// css

html {
  min-height: 100vh;
  scrollbar-color: $blue;
  scrollbar-width: 16px;
}

body {
  margin: clamp(1rem, 4vw, 4rem);
  padding: 0;

  background: $white;
  font-family: $sans;
  font-size: clamp(2.5rem, 5vw, 3.25rem);
  font-weight: 400;
  line-height: 1.1;
  color: #333;

  text-rendering: optimizeSpeed;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-font-smoothing: antialiased;

  @media (prefers-color-scheme: dark) {
    background: black;
    color: white;
  }
}

nav {
  margin-bottom: 10%;
  font-size: clamp(1.75rem, 3.5vw, 2.25rem);
}

h1, h2, h3 {

  @media (prefers-color-scheme: dark) {
    color: #eed;
  }

}
h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: clamp(3rem, 10vw, 10rem);
  line-height: 1;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

h2 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: inherit;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 32px;

  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

a {
  color: $black;
  text-decoration: underline;
  text-decoration-thickness: 2px;

  @media (prefers-color-scheme: dark) {
    color: $white;
  }
  
}

p {
  margin: 4% 0;
}

details {
  margin: 2% 0;
  font-size: clamp(1.5rem, 4vw, 2.25rem);

  & summary {
    cursor: pointer;
  }

  & summary::after {
    margin-left: 12px;
    font-size: 2vmin;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .75;
  }

  &.question summary, 
  &.question summary::marker, 
  &.question summary::after  { 
    color: $orange;
    vertical-align: middle;
  }

  &.think summary, 
  &.think summary::marker, 
  &.think summary::after  { 
    color: $orange;
    vertical-align: middle;
  }

  &.media summary, 
  &.media summary::marker, 
  &.media summary::after  { 
    color: $violet;
    vertical-align: middle;
  }

  &.question summary::after { 
    content: "(Busca)";
    font-size: 2vmin;
  }
  
  &.think summary::after { 
    content: "(Piensa)";
    font-size: 2vmin;
  }

  &.media summary::after { 
    content: "(Mira)";
    font-size: 2vmin;
  }

  & p, & ol, & ul, & figure {
    margin: 1% 0 0 2%;
    line-height: 1.2;
  }
}

article {
  hyphens: auto;
  max-width: $wide;
}

ul, ol, p {
  margin-bottom: 3%;
}

ol.index li {
  margin-bottom: 1.5rem;
}

ol.index li::marker {
  font-size: 3vmin;
  color: $orange;
}

blockquote {
  margin: 32px 0;
  padding: 0 32px;

  & p {
    margin: 0;
    max-width: $wide;
    font-weight: bold;
  }

}

hr {
  height: 10vw;
  border: none;
  background: transparent;
}

picture {
  display: inline-block;
  margin: 0 0 32px;
}

figure {
  margin: 0 0 2%;
}

figcaption {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.right {
  text-align: right;
}

small {
  font-size: 2vmin;
  font-weight: normal;
}

section.actividades {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
}

@media (min-width: 640px) {
  .actividades {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    justify-content: left;
  }
}

@media (min-width: 960px) {
  .actividades {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.actividades > aside {
  max-width: 420px;   /* ← aquí decides el “flotado” */
  margin: 0 auto;     /* centra cada tarjeta dentro de su columna */

  position: relative;
  border-radius: 14px;
  padding: 1.5rem;
  min-height: 140px;

  font-size: 1.4rem;
  line-height: 1.3;
  text-align: center;
  background: $orange;
  color: #fff;

  &.sabio { 
    background-color: $violet;
  }
  &.historiador { 
    background-color: $red;
  }
  &.trovador { 
    background-color: $green;
  }
  &.cartografo { 
    background-color: $blue;
  }


}

.actividades h3 {
  margin: 6px;
  text-align: center;
}

