// colors
$white: #fff;
$blue: #268bd2;
$violet: #6c71c4;
$orange: #cb4b16;
$green: #859900;

// fonts
$sans: Arial, Helvetica, Helvetica Neue, sans-serif;
$serif: "Times New Roman", Times, Serif;

// spaces
$wide: 1024px;

// css

html {
  min-height: 100vh;
  scrollbar-color: $blue;
  scrollbar-width: 16px;
}

body {
  background: $white;
  font-family: $sans;
  color: #222;
  font-size: 25px;
  line-height: 1.25em;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0 64px;
  hyphens: auto;
  -webkit-hyphens: auto;

  @media (prefers-color-scheme: dark) {
    background: #1a1c1e;
  }
}

nav {
  padding: 16px 0;
  font-size: 22px;

  @media (prefers-color-scheme: dark) {
    
  }

  & a {
  }
}

header {
  margin: 0 40px;

  & a {
    display: inline-block;
    margin-right: 3px;
  }
}

h1, h2, h3 {
  line-height: 1em;
  font-family: $sans;
  font-weight: bold;
  letter-spacing: -.03em;
  margin: 32px 0 16px 0;
 // text-transform: uppercase;
  max-width: 1024px;

  @media (prefers-color-scheme: dark) {
    color: #eed;
  }

}

h1 {
  font-size: 46px;
  margin-top: 64px;
  margin-bottom: 32px;
  color: $orange;

  @media (prefers-color-scheme: dark) {
    color: orange;
  }
}

h2 {
  font-size: 32px;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 16px;
  color: $orange;

  @media (prefers-color-scheme: dark) {
    color: cyan;
  }
}

h3 {
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: bold;
  color: $green;
}

a {
  color: $blue;
  text-decoration: underline;
  text-decoration-thickness: 2px;

  @media (prefers-color-scheme: dark) {
    color: #eed;
  }
}

hr {
  margin: 64px 0;
  border: none;
  width: 1000px;
}

.horn {
  width: 36px;
  margin: 0 8px 0 0;
  height: auto;
}

article {
  margin-top: 128px;
  hyphens: auto;

  & p {
    margin: 0 0 24px;
    max-width: 1024px;
    vertical-align: middle;
  }

  & ul, & ol {
    margin: 0 0 24px;
    max-width: 970px;

    & p {
      margin: 0 0 24px;
    }

  }

  @media (prefers-color-scheme: dark) {
    color: #ddc;
  }

  & strong {
    color: #000;

    @media (prefers-color-scheme: dark) {
      color: #ddc;
    }
  }



}

blockquote {
  margin: 32px 0;
  font-family: $sans;

  & p {
    font-size: 29px;
    line-height: 1.2em;
    color: $green;
    margin: 0;
    max-width: $wide;

    @media (prefers-color-scheme: dark) {
    }
  
  }


}

table {
  width: 800px;
  margin: 32px 0;
}

tr.separador {
  padding: 14px 0;
}

th {
  padding: 0 60px 6px 0;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #999;
}

td {
  padding: 0 30px 6px 0;
  &:nth-child(1) {

  }
  &:nth-child(3) {
    font-size: 18px;
  }
}

picture {
  display: inline-block;
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

img {
  max-width: 1024px;
}

.right {
  text-align: right;
}
