
$blue: #25f;
$sans:  Arial, Helvetica Neue, sans-serif;
$serif: Times New Roman, serif;
$mono: monospace;

// css

html {
  min-height: 100vh;
}

body {
  background: #fff;
  font-family: $serif;
  color: #222;
  font-size: 34px;
  line-height: 42px;
  text-rendering: optimizeSpeed;
  padding: 20px 40px;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-font-smoothing: none;

  @media (prefers-color-scheme: dark) {
    background: #1a1c1e;
  }
}

sup {
  font-size: 50%;
  color: blue;
  font-weight: bold;
}

nav {
  margin: 16px 32px;
  color: #999;

  @media (prefers-color-scheme: dark) {
    color: #999;
  }

  & a {
  }
}

header {
  margin: 0 40px;

  & a {
    display: inline-block;
    margin-right: 3px;
  }
}

.h1 {
  font-size: 200px;
  letter-spacing: -8px;
  font-weight: bold;
  margin: 64px 7.5% 0;

  @media (prefers-color-scheme: dark) {
    color: #eee;
  }
}

h1, h2, h3 {
  line-height: 1.1em;
  font-weight: bold;
  letter-spacing: 0;
  hyphens: auto;
  -webkit-hyphens: auto;
  margin: 32px 32px 16px 32px;
  text-transform: normal;
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }

  & em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }
}

h1 {
  font-size: 236px;
  letter-spacing: -3px;
  margin-top: 64px;
  margin-bottom: 192px;
  text-shadow: -40px 87px $blue;
}

h2 {
  font-size: 100px;
  padding: 0;
  letter-spacing: -1px;
  margin-top: 64px;
  text-shadow: -15px 29px $blue;
}

h3 {
  font-size: 22px;
}

a {
  color: $blue;
  text-decoration: underline;
  text-decoration-thickness: 3px;

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

hr {
  margin: 64px 0;
  border: none;
  width: 1000px;
}

article {
  hyphens: auto;

  & p {
    margin: 0 32px 24px 32px;
    max-width: 960px;
  }

  & p.big {
    margin: 96px 24px;
    font-size: 112px;
    line-height: 1em;
    max-width: 100%;
    font-family: $serif;
    text-shadow: 4px 8px $blue;

    & span {
      color: black;
      text-shadow: 0 12px red;
      
    }

  }

  & ul, & ol {
    margin: 0 32px 24px;
    max-width: 970px;

    & p {
      margin: 0 0 24px;
    }

  }

  @media (prefers-color-scheme: dark) {
    color: #ccc;
  }

  & strong {
    color: #000;

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
  }



}

span.number {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  background: $blue;
  color: white;
  border-radius: 50%;
}

blockquote {
  margin: 32px;
  font-family: $sans;

  & p {
    font-weight: bold;
    font-size: 68px;
    line-height: 74px;
    color: #000;
    margin: 0;
    max-width: 100%;

    @media (prefers-color-scheme: dark) {
      color: #eef;
    }
  
  }


}

table {
  width: 800px;
  margin: 32px;
}

tr.separador {
  padding: 14px 0;
}

th {
  padding: 0 60px 6px 0;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #999;
}

td {
  padding: 0 30px 6px 0;
  &:nth-child(1) {

  }
  &:nth-child(3) {
    font-size: 18px;
  }
}

picture {
  display: inline-block;
  margin: 0 32px 32px;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

img {
  max-width: 960px;
}

.right {
  text-align: right;
}
